.nav {
  border-radius: 10px;
  padding: 10px;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: aqua;

  &__link {
    padding: 5px;
    text-decoration: none;
    color: #000;
    font-size: 36px;    
  }
  &__link.active {
    color: goldenrod;
  }
}